<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	</head>
	<body>

		<div class="container-fluid" th:fragment="artefactOtherEditor">

			<form action="#" th:action="@{addOtherArtefact}" method="post">


				<div class="row content" th:if="${assetIsPDF}">
					<iframe th:src="${pdfSrc}" width="100%" height="600px"></iframe>
				</div>


				<div class="row content">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<input type="hidden" name="assetId" th:value="${asset.id}"></input>
						<span th:if="${feature}" >
							<input type="hidden" name="featureId" th:value="${feature.id}"></input>
							<span th:unless="${artefact}" ><button th:href="'#inputArtefactTitle'" data-toggle="modal" data-target="#inputArtefactTitle" class="btn" th:text="#{artefact.addtofeature} + ' ' + ${feature.title}"></button></span>
							<a class="btn btn-danger" th:href="'feature?id=' + ${feature.Id}" th:text="#{message.cancel}">cancel</a>
						</span>
					</div>
					<div class="col-sm-1"></div>
				</div>
				<div th:replace="fragments/inputArtefactTitle :: inputArtefactTitle"></div>
			</form>

			<script type="text/javascript">

				$(document).ready(function(){

				$("#myModal").modal('show');

				});

			</script>
		</div>
	</body>
</html>