<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title></title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div th:fragment="editArtefactTitle(artefact)">
			<div  class="modal fade" th:id="'editArtefactTitle' + ${artefact.id}">
				<div class="modal-dialog">
					<div class="modal-content">
						<span th:if="${artefact.asset.type.name() == 'TEXT'}" > 
							<form action="#" th:action="@{changeTextArtefact}" method="post" onsubmit="closeModal()">
								<input type="hidden" name="start" th:value="${artefact.start}" />
								<input type="hidden" name="end" th:value="${artefact.end}" />

								<div class="modal-header">
									<h3 th:text="#{artefact.titleEdit}">Edit Artefact Title</h3>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="title" th:text="#{artefact.title}">Title</label>
										<input name="title" type="text" class="form-control" id="title" th:value="${artefact.title}" required="true" maxlength="30" pattern=".*\S.*" />
									</div>
									<input type="hidden" name="artefactId" th:value="${artefact.id}" />
									<input type="hidden" name="featureId" th:value="${artefact.feature.id}" />
									<input type="hidden" name="assetId" th:value="${artefact.asset.id}" />
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" th:text="#{artefact.edit}"></button>
									<button type="reset" class="btn" data-dismiss="modal" th:text="#{message.cancel}">Cancel</button>
								</div>
							</form>
						</span>
						<span th:if="${artefact.asset.type.name() == 'AUDIO'}" > 
							<form action="#" th:action="@{changeAudioArtefact}" method="post" onsubmit="closeModal()">
								<input type="hidden" name="start" th:value="${artefact.start}" />
								<input type="hidden" name="end" th:value="${artefact.end}" />

								<div class="modal-header">
									<h3 th:text="#{artefact.titleEdit}">Edit Artefact Title</h3>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="title" th:text="#{artefact.title}">Title</label>
										<input name="title" type="text" class="form-control" id="title" th:value="${artefact.title}" required="true" maxlength="30" pattern=".*\S.*" />
									</div>
									<input type="hidden" name="artefactId" th:value="${artefact.id}" />
									<input type="hidden" name="featureId" th:value="${artefact.feature.id}" />
									<input type="hidden" name="assetId" th:value="${artefact.asset.id}" />
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" th:text="#{artefact.edit}"></button>
									<button type="reset" class="btn" data-dismiss="modal" th:text="#{message.cancel}">Cancel</button>
								</div>
							</form>
						</span>
						<span th:if="${artefact.asset.type.name() == 'VIDEO'}" > 
							<form action="#" th:action="@{changeVideoArtefact}" method="post" onsubmit="closeModal()">
								<input type="hidden" name="start" th:value="${artefact.start}" />
								<input type="hidden" name="end" th:value="${artefact.end}" />

								<div class="modal-header">
									<h3 th:text="#{artefact.titleEdit}">Edit Artefact Title</h3>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="title" th:text="#{artefact.title}">Title</label>
										<input name="title" type="text" class="form-control" id="title" th:value="${artefact.title}" required="true" maxlength="30" pattern=".*\S.*" />
									</div>
									<input type="hidden" name="artefactId" th:value="${artefact.id}" />
									<input type="hidden" name="featureId" th:value="${artefact.feature.id}" />
									<input type="hidden" name="assetId" th:value="${artefact.asset.id}" />
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" th:text="#{artefact.edit}"></button>
									<button type="reset" class="btn" data-dismiss="modal" th:text="#{message.cancel}">Cancel</button>
								</div>
							</form>
						</span>
						<span th:if="${artefact.asset.type.name() == 'XML'}" > 
							<form action="#" th:action="@{changeXMLArtefact}" method="post" onsubmit="closeModal()">
								<input type="hidden" name="nodes" th:value="${artefact.nodes}" />

								<div class="modal-header">
									<h3 th:text="#{artefact.titleEdit}">Edit Artefact Title</h3>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="title" th:text="#{artefact.title}">Title</label>
										<input name="title" type="text" class="form-control" id="title" th:value="${artefact.title}" required="true" maxlength="30" pattern=".*\S.*" />
									</div>
									<input type="hidden" name="artefactId" th:value="${artefact.id}" />
									<input type="hidden" name="featureId" th:value="${artefact.feature.id}" />
									<input type="hidden" name="assetId" th:value="${artefact.asset.id}" />
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" th:text="#{artefact.edit}"></button>
									<button type="reset" class="btn" data-dismiss="modal" th:text="#{message.cancel}">Cancel</button>
								</div>
							</form>
						</span>
						<span th:if="${artefact.asset.type.name() == 'PICTURE'}" > 
							<form action="#" th:action="@{changePictureArtefact}" method="post" onsubmit="closeModal()">
								<input type="hidden" name="x" th:value="${artefact.x}" />
								<input type="hidden" name="y" th:value="${artefact.y}" />
								<input type="hidden" name="width" th:value="${artefact.width}" />
								<input type="hidden" name="height" th:value="${artefact.height}" />

								<div class="modal-header">
									<h3 th:text="#{artefact.titleEdit}">Edit Artefact Title</h3>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="title" th:text="#{artefact.title}">Title</label>
										<input name="title" type="text" class="form-control" id="title" th:value="${artefact.title}" required="true" maxlength="30" pattern=".*\S.*" />
									</div>
									<input type="hidden" name="artefactId" th:value="${artefact.id}" />
									<input type="hidden" name="featureId" th:value="${artefact.feature.id}" />
									<input type="hidden" name="assetId" th:value="${artefact.asset.id}" />
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" th:text="#{artefact.edit}"></button>
									<button type="reset" class="btn" data-dismiss="modal" th:text="#{message.cancel}">Cancel</button>
								</div>
							</form>
						</span>
						<span th:if="${artefact.asset.type.name() == 'OTHER'}" > 
							<form action="#" th:action="@{changeOtherArtefact}" method="post" onsubmit="closeModal()">

								<div class="modal-header">
									<h3 th:text="#{artefact.titleEdit}">Edit Artefact Title</h3>
								</div>
								<div class="modal-body">
									<div class="form-group">
										<label for="title" th:text="#{artefact.title}">Title</label>
										<input name="title" type="text" class="form-control" id="title" th:value="${artefact.title}" required="true" maxlength="30" pattern=".*\S.*" />
									</div>
									<input type="hidden" name="artefactId" th:value="${artefact.id}" />
									<input type="hidden" name="featureId" th:value="${artefact.feature.id}" />
									<input type="hidden" name="assetId" th:value="${artefact.asset.id}" />
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" th:text="#{artefact.edit}"></button>
									<button type="reset" class="btn" data-dismiss="modal" th:text="#{message.cancel}">Cancel</button>
								</div>
							</form>
						</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>