<!DOCTYPE html>
<!-- Tim Gugel -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Feature</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<!-- Create a new Feature (PopUp) -->
	<div th:fragment="createFeature" class="modal fade" th:id="createFeature">
		<div class="modal-dialog">	
			<!-- model content -->
			<div class="modal-content">
				<form action="#" th:action="@{createFeature}" method="post" onsubmit="closeModal()" id="featureform">
					<!-- model header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cleanupFeatureModal()">&times;</button>
						<h4 class="modal-title" th:text="#{feature.new}">New Feature</h4>
					</div>
					<!-- model body -->
					<div class="modal-body">
						<div class="form-group">
							<label for="titleTextbar_create" th:text="#{feature.title}">Title:</label>
							<input name="titleTextbar_create" type="text" class="form-control" id="titleTextbar_create" required="true" maxlength="30" pattern=".*\S.*"></input>
						</div>
						<div class="form-group">
							<label for="descriptionTextarea_create" th:text="#{feature.description}">Description:</label>
							<textarea name="descriptionTextarea_create" class="form-control" rows="8" id="descriptionTextarea_create"></textarea>
						</div>
						<input type="hidden" name="projId_create" id="projId_create" th:value="${project.id}" />
					</div>
					<!-- model footer -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" th:text="#{feature.create}">Create</button>
						<button type="reset" class="btn" data-dismiss="modal" onclick="cleanupFeatureModal()" th:text="#{message.cancel}">Cancel</button>
					</div>
				</form>
			</div>		
		</div>
	</div>
	
	<!-- Edit Feature (PopUp) -->
	<div th:fragment="editFeature" class="modal" th:id="editFeature">
		<div class="modal-dialog">	
			<!-- model content -->
			<div class="modal-content">
				<form action="#" th:action="@{editFeature}" method="post" onsubmit="closeModal()" id="featureform">
					<!-- model header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cleanupFeatureModal()">&times;</button>
						<h4 class="modal-title" th:text="#{feature.edit}">Edit Feature</h4>
					</div>
					<!-- model body -->
					<div class="modal-body">
						<div class="form-group">
							<label for="titleTextbar_edit" th:text="#{feature.title}">Title:</label>
							<input name="titleTextbar_edit" type="text" class="form-control" id="titleTextbar_edit" th:value="${feature.title}"></input>
						</div>
						<div class="form-group">
							<label for="descriptionTextarea_edit" th:text="#{feature.description}">Description:</label>
							<textarea name="descriptionTextarea_edit" class="form-control" rows="8" id="descriptionTextarea_edit"  th:text="${feature.description}"></textarea>
						</div>
						<input type="hidden" name="featId_edit" id="featId_edit" th:value="${feature.id}" />
						<input type="hidden" name="feature_edit" id="feature_edit" th:value="${feature}" />
					</div>
					<!-- model footer -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" th:text="#{feature.edit}">Edit</button>
						<button type="reset" class="btn" data-dismiss="modal" onclick="cleanupFeatureModal()" th:text="#{message.cancel}">Cancel</button>
					</div>
				</form>
			</div>		
		</div>
	</div>
	
	<!-- Copy Feature (PopUp) -->
	<div th:fragment="copyFeature" class="modal" th:id="copyFeature">
		<div class="modal-dialog">	
			<!-- model content -->
			<div class="modal-content">
				<form action="#" th:action="@{copyFeature}" method="post" onsubmit="closeModal()" id="featureform">
					<!-- model header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" onclick="cleanupFeatureModal()">&times;</button>
						<h4 class="modal-title" th:text="#{feature.copy}">Copy Feature</h4>
					</div>
					<!-- model body -->
					<div class="modal-body">
						<div class="form-group">
							<label for="titleTextbar_copy" th:text="#{feature.title}">Title:</label>
							<input name="titleTextbar_copy" type="text" class="form-control" id="titleTextbar_copy" th:value="${feature.title}"></input>
						</div>
						<div class="form-group">
							<label for="descriptionTextarea_copy" th:text="#{feature.description}">Description:</label>
							<textarea name="descriptionTextarea_copy" class="form-control" rows="8" id="descriptionTextarea_copy"  th:text="${feature.description}"></textarea>
						</div>
						<div class="form-group">
							<label for="projectSelect" th:text="#{feature.useIn}">Use in Project:</label>		
							<select id="projectSelect" name="projectSelect" onchange="selectProject()" class="form-control">
							<th th:each="project : ${projectList}">
								<option th:value="${project.id}" th:text="${project.title}"></option>
							</th>
							</select>
						</div>
						<div th:unless="${listIsEmpty}"><input type="hidden" name="projId_copy" id="projId_copy" th:value="${projectList[0].id}" /></div>
						<input type="hidden" name="featId_copy" id="featId_copy" th:value="${feature.id}" />
						<input type="hidden" name="feature_copy" id="feature_copy" th:value="${feature}" />
						<!--script> addSelectToHTML() </script-->
					</div>
					<!-- model footer -->
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" th:text="#{feature.copy}">Edit</button>
						<button type="reset" class="btn" data-dismiss="modal" th:text="#{message.cancel}">Cancel</button>
					</div>
				</form>
			</div>		
		</div>
	</div>
	
</body>
</html>