
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Project</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="newProject">

    <div class="modal fade" id="newProjectModal" role="dialog">
        <div class="modal-dialog">
        
            <div class="modal-content">
                <form method="POST" action="#" th:action="@{newProject}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" th:text="#{project.new}">New Project</h4>
                    </div>
                    <div class="modal-body">

                            <div class="form-group">
                                <label for="titleTextbar" th:text="#{project.title}">Title:</label>
                                <input id="titleTextbar" type="text" class="form-control" name="title" required="true" maxlength="30" pattern=".*\S.*"></input>
                                <label for="descriptionTextarea" th:text="#{project.description}">Description:</label>
                                <textarea id="descriptionTextarea" type="text" class="form-control" name="description" rows="8"></textarea>
                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" th:text="#{project.new}"></button>
						<button type="reset" class="btn" data-dismiss="modal" th:text="#{message.cancel}">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

