<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${'RAN2'}"></title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
	<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
		<div class="container">
			<h3 th:text="#{pwreset.reset}">Reset Password</h3>
			<form th:action="@{updatePassword}" th:object="${passwordReset}" method="post" name="PasswordReset">
				<div class="form-group row">
					<label for="password" class="col-sm-4 col-form-label" th:text="#{pwreset.password}">Password: </label>
					<div class="col-sm-8">
						<input th:field="*{password}" id="password" type="password" class="form-control" />
						<p class="error" th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation Error</p>
					</div>
					
					<label for="confirmPassword" class="col-sm-4 col-form-label" th:text="#{pwreset.confirm}">Confirm Passsword: </label>
					<div class="col-sm-8">
						<input th:field="*{matchingPassword}" id="comfirmPassword" type="password" class="form-control" />
						<p class="error" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation Error</p>
					</div>
				</div>
				<button class="btn btn-primary" name="Submit" type="submit" th:text="#{pwreset.update}">Update Password</button>
			</form>
		</div>
	</div>
</body>
</html>